[Unit]
Description=GameService
[Service]
LimitNOFILE=500000
WorkingDirectory=/media/disk1/service
ExecStart=/media/disk1/service/start.sh
ExecStop=/media/disk1/service/stop.sh
ExecStop=/bin/sleep 10
[Install]
WantedBy=multi-user.target
